body, html {
  height: 100%;
  min-height: 100%;
  background-size: cover;
  position: relative;
}

h1, h2 {
  color: black;
}
.status {
  margin: 20px;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
}
.isi {
  margin: 20px;
  max-width: 300px;
  padding: 12px;
  border-radius: 10px;
  color: black;
}

.btn-primary {
  background-position: center;

}
body {
 margin-bottom: 120px;
}
        
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  color: #73748F;
 }
        
.btn-primary.custom-btn1 {
  background-color:#FFA500;
  border-color: #FFA500;
}
        
.btn-primary.custom-btn2 {
  background-color:#228B22;
  border-color:#228B22;
  }
        
.btn-primary.custom-btn3 {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #73748F;
  }
        
.accordion-content {
  display: none;
  color: black;
  }

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
